{% extends "website/base.html" %}

{% block content %}
    <div class="peoplecontent">
    <h1>MEET OUR TEAM</h1>
    <div class="peopleitems">
        <div class="peopleitem"> 
            <div class="peopleimage">
            <img src="/static/img/RITHU.jpeg" alt="people image">
            </div>
            <div class="peoplename">RITHANIEPRIYANKA</div>
            <div class="peopledesig">Director</div>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
            <img src="/static/img/katniss.jpg" alt="people image">
            </div>
            <div class="peoplename">KATNISS EVER</div>
            <div class="peopledesig">Managing Director</div>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
            <img src="/static/img/emma.jpg" alt="people image">
            </div>
            <div class="peoplename">EMMA WATSON</div>
            <div class="peopledesig">Asst.Managing Director</div>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
            <img src="/static/img/Natasha.jpg" alt="people image">
            </div>
            <div class="peoplename">NATASHA</div>
            <div class="peopledesig">Team Leader</div>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
            <img src="/static/img/Chiki.jpg" alt="people image">
            </div>
            <div class="peoplename">CHIKI</div>
            <div class="peopledesig">Team Leader</div>
        </div>
        <div class="peopleitem"> 
            <div class="peopleimage">
            <img src="/static/img/Nisaba.jpg" alt="people image">
            </div>
            <div class="peoplename">NISABA</div>
            <div class="peopledesig">Team Leader</div>
        </div>
    </div>
    </div>
{% endblock  %}